.content {
  max-width: 1140px;
  padding: 16px;
  -moz-column-gap: 24px !important;
  column-gap: 24px !important;
  margin: -42px 4% 0;
  display: flex;
}

@media (min-width: 768px) {
  .content {
    margin: -42px calc((100% - 60vw) / 2) 0;
  }
}

@media (min-width: 900px) {
  .content {
    margin: -42px calc((100% - 65vw) / 2) 0;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .content {
    margin: -42px auto 0;
    max-width: 1140px;
  }
}

.not-searched {
  height: calc(100vh - 192px);
  display: flex;
  justify-content: center;
  align-items: center;
}
