<div
  class="w-full h-screen flex flex-col items-center justify-center bg-primary text-white"
>
  <div class="border-b pb-10 mb-2">
    <img src="/assets/logo.png" class="w-80" />
  </div>
  <div class="mt-2">
    <div class="text-4xl font-semibold my-2">Ops!</div>
    <div class="text-2xl">Página não encontrada.</div>
    <div
      class="mt-4 text-center p-2 rounded-md border cursor-pointer hover:bg-white hover:text-primary hover:font-semibold"
      (click)="goBack()"
    >
      Voltar
    </div>
  </div>
</div>
